<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<package name="org.eop.spring.mvc.mybatis.annotation.bean"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"><!-- https://github.com/pagehelper/Mybatis-PageHelper -->
			<property name="helperDialect" value="mysql"/>
			<property name="offsetAsPageNum" value="true"/>
			<property name="rowBoundsWithCount" value="true"/>
			<property name="pageSizeZero" value="false"/>
			<property name="reasonable" value="false"/>
			<property name="params" value="pageNum=pageNum;pageSize=pageSize;count=countSql;reasonable=reasonable;pageSizeZero=pageSizeZero"/>
			<property name="supportMethodsArguments" value="true"/>
			<property name="autoRuntimeDialect" value="false"/>
			<property name="closeConn" value="true"/>
		</plugin>
	</plugins>
</configuration>